@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

@media screen and (max-width: 1921px) {
    .main{
        width: 100%;
        height: 1080px;
        background-image: url("Assets/Images/main_img.png");
        background-size: cover;
        background-repeat: no-repeat;
        .line{
            position: absolute;
            left: 1px;
            top: 450px;
        }
        .location{
            position: absolute;
            left: 1474.74px;
            top: 320px;
        }
        .network{
            width: 120px;
            height: 360px;

            position: absolute;
            left: 1800px;
            top: 360px;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            .net-block{
                width: 120px;
                height: 120px;
                
                background: rgba(8, 17, 32, 0.4);
                backdrop-filter: blur(10px);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .container{
            max-width: 1680px;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            .header{
                width: 100%;
                height: 84px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin: 64px 0 0 0;
                .menu-bar{
                    width: 50px;
                    height: 50px;
                    display: none;
                }
                img{
                    width: 210px;
                    height: 84px;
                }
                .list{
                    width: 981px;
                    height: 100%;
                    list-style: none;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .link{
                        width: auto;
                        height: 29px;
                        color: #fff;
                        font-family: 'Comfortaa';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                    }
                    .active{
                        color: #ababab;
                    }
                }
            }
            .text{
                width: 100%;
                height: 600px;

                margin: 0 0 60px 0;

                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: flex-start;
                .main-text{
                    width: 959px;
                    height: 300px;

                    color: #fff;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        padding: 0;
                        
                        font-family: 'Comfortaa';
                    }
                    .nero{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        /* identical to box height */
                        
                        
                        color: #FFFFFF;
                    }
                    .large{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 56px;
                        line-height: 68px;
                        display: flex;
                        align-items: center;
                        
                        color: #FFFFFF;
                    }
                    .more{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 29px;
                        
                        color: #DBDBDA;
                    }

                    .main-btn{
                        width: 328px;
                        height: 77px;
                        
                        background: #FFFFFF;
                        border: 3px solid #FFFFFF;
                        border-radius: 5px;

                        font-family: 'Comfortaa';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 27px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        
                        color: #000000;
                    }
                }
                .count-bar{
                    width: 100%;
                    height: 200px;

                    background: rgba(8, 17, 32, 0.4);
                    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.7);
                    backdrop-filter: blur(20px);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .count{
                        width: 1584px;
                        height: 104px;

                        display: flex;
                        justify-content: space-around;
                        .block{
                            height: 80px;

                            display: flex;
                            justify-content: space-between;
                            img{
                                width: 60px;
                                height: 60px;
                            }
                            p{
                                padding: 0;
                                margin: 0;

                                font-family: 'Comfortaa';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 30px;
                                line-height: 44px;
                                display: flex;
                                align-items: center;
                                
                                color: #FFFFFF;

                                display: flex;
                                flex-flow: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                span{
                                    font-family: 'Comfortaa';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    display: flex;
                                    align-items: center;
                                    
                                    color: #FFFFFF;
                                }
                            }
                        }
                        .people{
                            width: 394px;
                            img{
                                width: 80px;
                                height: 80px;
                            }
                            p{
                                width: 290px;
                                height: 104px;
                            }
                        }
                        .time{
                            width: 358px;
                            p{
                                width: 270px;
                                height: 104px;
                                span{
                                    font-size: 17px;
                                }
                            }
                        }
                        .days, .party{
                            width: 368px;
                            p{
                                width: 280px;
                                height: 80px;
                            }
                        }
                        .people, .time{
                            height: 104px;
                        }
                    }
                }
            }
        }
    }
    .mob-count-bar{
        height: 202px;
        background: #081120;
        display: none;
    }
}

@media screen and (max-width: 401px) {
    .main{
        max-width: 400px;
        height: 800px;
        background-position-x:60%;
        background-size: cover;
        .line, .location, .network{
            display: none;
        }
        .main-con{
            max-width: 370px;
            .header{
                max-width: 400px;
                height: 70px;
                margin: 0 0 0 0;
                .menu-bar{
                    display: block;
                }
                .list, .link{
                    display: none;
                }
                img{
                    width: 100px;
                    height: 40px;
                }
            }
            .text{
                width: 370px;
                height: 430px;
                .main-text{
                    width: 370px;
                    height: 218px;
                    .nero{
                        font-size: 16px;
                    }
                    .large{
                        font-size: 26px;
                        line-height: 30px;
                    }
                    .more{
                        width: 300px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    .main-btn{
                        width: 168px;
                        height: 47px;

                        font-size: 16px;
                        
                    }
                }
                .count-bar{
                    display: none;
                    .count{
                        display: none;
                        .block{
                            display: none;
                        }
                    }
                }
            }
            
        }
    }
    .mob-count-bar{
        height: 202px;
        background: #081120;
        display: block;
        .mob-con{
            max-width: 370px;
            height: 202px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            .mob-count{
                width: 360px;
                height: 160px;

                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;
                .horizontal{
                    width: 340px;
                    height: 1px;
                    background: #D4D4D4;
                }
                .first{
                    width: 358.35px;
                    height: 61.21px;
                    display: flex;
                    justify-content: space-between;
                    .vertical{
                        height: 45.12px;
                        width: 1px;
                        
                        border: 0.433839px solid #D5D5D5;
                    }
                    .people{
                        width: 170.93px;
                        height: 61.21px;
                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 34.71px;
                            height: 34.71px;
                        }
                        p{
                            width: 125.81px;
                            height: 61.21px;

                            font-family: 'Comfortaa';
                            font-size: 16px;
                            line-height: 19px;
                            
                            color: #FFFFFF;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;

                            padding: 0;
                            margin: 0;
                            span{
                                font-size: 9px;
                                line-height: 12px;
                                display: flex;
                                align-items: center;
                                
                                color: #FFFFFF;
                            }
                        }
                    }
                    .days{
                        width: 159.65px;
                        height: 37.21px;
                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 26.03px;
                            height: 26.03px;
                        }
                        p{
                            width: 121.48px;
                            height: 37.21px;

                            font-family: 'Comfortaa';
                            font-size: 16px;
                            line-height: 19px;
                            
                            color: #FFFFFF;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;

                            padding: 0;
                            margin: 0;
                            span{
                                font-size: 9px;
                                line-height: 12px;
                                display: flex;
                                align-items: center;
                                
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                .second{
                    width: 359.88px;
                    height: 49.21px;
                    display: flex;
                    justify-content: space-between;
                    .vertical{
                        height: 45.12px;
                        width: 1px;
                        
                        border: 0.433839px solid #D5D5D5;
                    }
                    .time{
                        width: 170.93px;
                        height: 49.21px;

                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 34.71px;
                            height: 34.71px;
                        }
                        p{
                            width: 125.81px;
                            height: 49.21px;

                            font-family: 'Comfortaa';
                            font-size: 16px;
                            line-height: 19px;
                            
                            color: #FFFFFF;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;

                            padding: 0;
                            margin: 0;
                            span{
                                font-size: 9px;
                                line-height: 12px;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                    .party{
                        width: 161.18px;
                        height: 49.21px;

                        display: flex;
                        justify-content: space-between;
                        img{
                            width: 26.03px;
                            height: 26.03px;
                        }
                        p{
                            width: 123px;
                            height: 49.21px;

                            font-family: 'Comfortaa';
                            font-size: 13px;
                            line-height: 19px;
                            
                            color: #FFFFFF;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;

                            padding: 0;
                            margin: 0;
                            span{
                                font-size: 9px;
                                line-height: 12px;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}