@import url(/fonts/fonts.css);

* {
}

.frame--4 {
    position: relative;

    width: 1920px;                /*width: 100%;*/
    height: 1080px;                /*height: 100%;*/
    left: 0px;
    top: 0px;

    margin: -8px;
    padding: 0;

    background: #FFFFFF;

    /*My*/
    display: flex;
    flex-direction: row;

    background-image: url(/images/line-curve.png);
    background-repeat: no-repeat;
    background-size: contain;

    /*TEMP*/
    /* border-style: dotted; */
}


.content-wrapper {
    /*My*/
    width: 50%; 
    height: 100%;

    /*TEMP*/
    /* background-color: aqua; */
}
.content {
    margin-top: 136px;
    margin-left: 119px;
    margin-right: 130px;
    margin-bottom: 99px;

    /*My*/
    display: flex;
    flex-direction: column;
    gap: 60px;

    /*TEMP*/
    /* background-color: yellow; */
}
.content-title {

    /*My*/
    display: flex;
    flex-direction: row;
    justify-content: end;

    /*TEMP*/
    /* background-color: red;
    border-style: dotted; */
}
.title-block {
    
    /*My*/
    display: flex;
    flex-direction: row;
    gap: 40px;

    /*TEMP*/
    /* background-color: red;
    border-style: dotted; */
}
.rectangle {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    /*My*/
    margin: 0px;
    padding: 0px;
    
    /*TEMP*/
    /* border-style: dotted; */
}
.title {
    font-family: 'Gilroy-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 70px;    
    
    color: #000000;

    /*My*/
    margin: 0px;
    padding: 0px;

    /*TEMP*/
    /* background-color: red;
    border-style: dotted; */
}

.content-text {

    /*My*/
    display: flex;
    flex-direction: column;
    gap: 50px;

    /*TEMP*/
    /* background-color: red;
    border-style: dotted; */
}
.text-block {
    /*My*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-div {
    /*My*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    /*TEMP*/
    /* background-color: rgb(227, 112, 112); */
    /* border-style: dotted; */
}
.text-div:hover {
    transition: 0.15s;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text {
    /*My*/
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: end;

    /*fonts*/
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;    
    text-align: right;
    
    color: #353535;

    /*TEMP*/
    /* background-color: rgb(236, 216, 216); */
    /* border-style: dotted;  */
}
.check {
    width: 40px;
    height: 35px;

    background-image: url(/images/check.png);
    background-repeat: no-repeat;
    background-size: contain;

    /*TEMP*/
    /* background-color: rgb(236, 216, 216); */
    /* border-style: dotted; */
}
.button-block {
    /*My*/
    display: flex;
    flex-direction: row;
    justify-content: end;

    /*TEMP*/
    /* background-color: rgb(227, 112, 112);
    border-style: dotted; */
}
.button {
    width: 288px;
    height: 79px;

    padding: 25px 56px;
    
    background: #263663;
    border-radius: 5px;

    /*fonts*/
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;

    /*My*/
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
}
/* .button:hover {
    transition: 0.15s;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.img-wrapper {
    /*My*/
    position: relative;

    width: 50%; 
    height: 100%;

    /*TEMP*/
    /* background-color: yellow; */
    /* border-style: dotted; */
}

.logo {
    width: 238px;
    height: 112px;

    position: absolute;
    left: 0px;
    top: 878px;

    background: #FFFFFF;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 0px 5px 5px 0px;
    /*TEMP*/
    /* border-style: dotted; */
}
.img-responsive {
    display: none;
}
.logo-responsive {
    display: none;
}



/*Responsive*/
@media (max-width: 850px){
    .frame--4 {    
        width: 400px;
        height: 100%;               /*height: 100%;*/
    

        /*My*/
        flex-direction: column-reverse;
        
        background-image: none;
    
        /*TEMP*/
        /* border-style: dotted; */
    }

    .img-wrapper {
        width: 100%;
    }
    .logo {
        position: absolute;

        top: 854.6px;
        left: 722px;
    
        background: #FFFFFF;
        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 5px 0px 0px 5px;
        /*TEMP*/
        /* border-style: dotted; */
    }


    .content-wrapper {
        width: 948px;
        position: relative;
        
        /*TEMP*/
        /* border-style: dotted; */
    }
    .content {
        margin: 0px;
        padding-top: 40px;
        padding-bottom: 70px;

        gap: 40px;

        /*TEMP*/
        /* border-style: dotted; */
    }
    .content-title {
        justify-content: start;

        /*TEMP*/
        /* border-style: dotted; */
    }
    .title-block {
        gap: 20px;
        
        /*TEMP*/
        /* border-style: dotted; */
    }
    .title {
        /*TEMP*/
        /* border-style: dotted;   */
    }


    .content-text {
        margin: 0 42.5px;

        /*TEMP*/
        /* border-style: dotted;  */
    }
    .text-block {
        /*TEMP*/
        /* border-style: dotted; */
    }
    .text-div {
        /* gap: 30px; */
        flex-direction: row-reverse;
    }
    .text {
        justify-content: start;
        text-align: left;
    }

    .button-block {
        /*My*/
        justify-content: start;
    
        /*TEMP*/
        /* background-color: rgb(227, 112, 112);
        border-style: dotted; */
    }
}






